<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UK custom-built multi-role utility vehicle for emergency services, tactical response, public order and recreation">
    <meta name="author" content="Lewis Booth - CIC Photographic Ltd. - www.ciconline.co.uk">
    
    <title>Atlas MRUV-X4.5 | Request Access</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/atlas.css">
    <link href="https://fonts.googleapis.com/css?family=Abel|Orbitron:400,700|Teko:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="atlas-favicon-300.png">
</head>

<body>

   <%- include template/nav %> 

    <div class="container section">
        <div class="col-sm-6 col-sm-offset-3">

            <h1><span class="fa fa-sign-in"></span> Request access</h1>
            <p>To view more information about our products, please fill in this form. Please note all fields are required, and you will receive a verification callback to review your requirements.</p>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/createaccount" method="post" autocomplete="off">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="email" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="text" class="form-control" name="password" autocomplete="off">
                </div>
                <button type="submit" class="btn btn-warning btn-lg">SUBMIT</button>
            </form>

            <hr>
            <p>Already have an account? <a href="/login">Login</a></p>
            <p>Or go <a href="/">back</a></p>

        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
