<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UK custom-built multi-role utility vehicle for emergency services, tactical response, public order and recreation">
    <meta name="author" content="Lewis Booth - CIC Photographic Ltd. - www.ciconline.co.uk">
    <meta name="keywords" content="custom vehicles, military vehicles, utility vehicles, law enforcement vehicles, tactical response vehicles, public order vehicles, modular vehicles, uk vehicle manufacturing, atlas, mruv, mruv-x4.5, ">
    
    <title>Atlas MRUV-X4.5 | Error Submitting Application</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/atlas.css">
    <link href="https://fonts.googleapis.com/css?family=Abel|Orbitron:400,700|Teko:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="img/atlas-favicon-300.png">
</head>

<body>

   <%- include template/nav %> 

    <div class="container section">
        <div class="col-sm-6 col-sm-offset-3">

            <h1>Error submitting application</h1>
            <p>Please <a href="/requestaccess">go back</a> and try again</p>

        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
