<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UK custom-built multi-role utility vehicle for emergency services, tactical response, public order and recreation">
    <meta name="author" content="Lewis Booth - CIC Photographic Ltd. - www.ciconline.co.uk">
    <meta name="keywords" content="custom vehicles, military vehicles, utility vehicles, law enforcement vehicles, tactical response vehicles, public order vehicles, modular vehicles, uk vehicle manufacturing, atlas, mruv, mruv-x4.5, ">
    
    <title>Atlas MRUV-X4.5 | Multi-role custom utility vehicles for emergency services, public order, mining and recreation</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/atlas.css">
    <link rel="stylesheet" href="css/atlas-home-swiper.css">
    <link href="https://fonts.googleapis.com/css?family=Abel|Orbitron:400,700|Teko:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="img/atlas-favicon-300.png">
</head>

<body>
    
   <%- include template/nav %> 

    <div class="slider-text section-thin">
        <div class="text-center">
            <h1>When your life depends on the vehicle you drive, you can depend on Atlas.</h1>         
        </div>     
    </div>

    <div id="swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/atlas-home-slider-forestry.jpg"></div>
                <div class="swiper-slide"><img src="img/atlas-home-slider-mining.jpg"></div>
                <div class="swiper-slide"><img src="img/atlas-home-slider-expedition.jpg"></div>
                <div class="swiper-slide"><img src="img/atlas-home-slider-police.jpg"></div>
                <div class="swiper-slide"><img src="img/atlas-home-slider-forestry-2.jpg"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    <div class="container-green">
        <div class="container section">
            <div class="text-center col-xs-12">
                <div class="box-yellow-border">
                    <h2>ENDEAVOUR <span class="no-wrap">MRUV-X4.5</span></h2>
                </div>
                <div class="feature-text">
                    <h3>A new multi-role utility vehicle for emergency services, public order, mining and recreation</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-white">
        <div class="container section">
            <div class="col-sm-6">
                <h1 class="yellow-underline">SUPPORTED BY THE <br />INDUSTRY LEADERS</h1>
                <p>The unique multi-role design of the Atlas Endeavour isn’t the only thing that makes it stand out from the competition. The universal support of the world's leading defence and technology manufacturers gives the Atlas Endeavour an unbeatable advantage.</p>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive hutchinson-logo" src="img/hutchinson-logo.png">
            </div>
        </div>
    </div>
    
    <div class="container-black section">
        <div class="text-center">
            <div class="box-yellow-border">
                <h2>FIND OUT MORE</h2>
            </div>
            <div class="feature-text section-thin">
                <h3>For detailed information about our products, please sign into our customer portal or contact us to request access.</h3>
            </div>

            <% if (typeof user !== 'undefined') { %>
            <a href="/classified">
                <button class="btn btn-default"><span class="fa fa-sign-in"></span> GO TO PRODUCT INFORMATION</button></a>
            <a href="/logout">                
                <button class="btn btn-default btn-grey"><span class="fa fa-sign-out"></span> SIGN OUT</button></a>
            <% } else { %>
            <a href="/requestaccess">                
                <button class="btn btn-default"><span class="fa fa-sign-in"></span> REQUEST ACCESS</button></a>
            <a href="/login">                
                <button class="btn btn-default"><span class="fa fa-lock"></span> CUSTOMER LOGIN</button></a>
            <% } %>

        </div>
    </div>

    <%- include template/footer %> 
    
    <!-- Swiper JS -->
    <script src="js/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            slidesPerView: 1,
            paginationClickable: true,
            spaceBetween: 0,
            loop: true,
            autoplay: 4000,
            autoplayDisableOnInteraction: false,
            speed: 800
        });
    </script>
    
</body>
</html>