<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UK custom-built multi-role utility vehicle for emergency services, tactical response, public order and recreation">
    <meta name="author" content="Lewis Booth - CIC Photographic Ltd. - www.ciconline.co.uk">
    <meta name="keywords" content="custom vehicles, military vehicles, utility vehicles, law enforcement vehicles, tactical response vehicles, public order vehicles, modular vehicles, uk vehicle manufacturing, atlas, mruv, mruv-x4.5, ">
    
    <title>Atlas MRUV-X4.5 | Product Information</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/atlas.css">
    <link rel="stylesheet" href="css/atlas-gallery-swiper.css">
    <link href="https://fonts.googleapis.com/css?family=Abel|Orbitron:400,700|Teko:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="img/atlas-favicon-300.png">


</head>

<body id="page-top">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img class="navbar-logo" alt="Atlas Vehicles Logo" src="img/atlas-logo-cream-horizontal.svg">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="signed-in-nav">Signed in as: <span class="signed-in-nav-bold"><%= user.local.email %></span> </li>
                    <li class="dropdown signed-in-nav-button-highlight">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PRODUCT INFORMATION <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="page-scroll" href="#page-top">Overview</a></li>
                            <li><a class="page-scroll" href="#gallery">Gallery</a></li>
                            <li><a class="page-scroll" href="#durability">Durability</a></li>
                            <li><a class="page-scroll" href="#support">Industry Support</a></li>
                            <li><a class="page-scroll" href="#british">British Manufacturing</a></li>
                        </ul>
                    </li>
                    <li><a href="/logout"><span class="fa fa-sign-out"></span> SIGN OUT</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="section overview-header row">
        <div class="col-xs-12">
            <div class="text-center">
                <h1 class="yellow-underline text-center">INTRODUCING</h1>
                <h2 class="bold-text">THE ATLAS<br />
                    <span class="h2-large">
                    ENDEAVOUR
                    </span>
                </h2>
            </div>
        </div>
    </div>    

    <div id="endeavour-hero-wrapper">
        <img class="img-responsive" width="100%" src="img/overview-cover-mining.jpg">
    </div>

    <div id="overview" class="container-white">
        <div class="container section">
            <div class="col-xs-12">
                <h1 class="yellow-underline">Overview</h1>
            </div>
            <div class="col-sm-6">
                <p>Our first vehicle, the Atlas Endeavour defines a brand new vehicle category, the Multi Role Utility Vehicle or MRUV.</p>
                <p>Designed from the ground up as a modular vehicle that can be adapted to exactly meet the most demanding roles in industry, travel, the emergency services and law enforcement agencies.</p>
                <p class="mobile-margin-bottom">A single vehicle that can take on numerous roles. One day it’s transport of 12 people in the safety of forward facing seats, the next day it’s delivering fuel around the site and the next day it’s a utility pick up.</p>
            </div>
            <div class="col-sm-6" id="one-vehicle-strap">
                <h4>
                    One vehicle,<br />
                    many configurations,<br />
                    many roles.<br />
                </h4>
            </div>
        </div>            

        <div id="gallery" class="container-white">
            <div class="swiper-container gallery-top">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url(img/atlas-home-slider-forestry.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(img/atlas-home-slider-expedition.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(img/atlas-home-slider-police.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(img/atlas-home-slider-forestry-2.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(img/atlas-home-slider-mining.jpg)"></div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url(img/atlas-home-slider-forestry.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(img/atlas-home-slider-expedition.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(img/atlas-home-slider-police.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(img/atlas-home-slider-forestry-2.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(img/atlas-home-slider-mining.jpg)"></div>
                </div>
            </div>
        </div>
        
        <div class="container section">
            
            <div class="col-xs-12">
                <h1 class="yellow-underline">WHAT MAKES THE <br />ENDEAVOUR UNIQUE?</h1>
            </div>
            <div class="col-sm-6">
                <p class="lead">In a world that has come to accept the compromises that 
                an adapted “off the shelf” vehicle brings, the Atlas Endeavour brings a refreshing change.</p>
                <p>The Atlas Endeavour platform is designed on an adaptive, transposable platform, which can be tailored for GVW’s of 3500kg – 7500kg. It can be configured in either 4x2, 6x2, 4x4 or 6x6 variants, dependent upon role requirements.</p>
                <p>The multi-function load platform allows for 4-12 forward facing seats. The modular design allows for variants to be individually tailored to client needs with generic or specific roles in mind.</p>
                <p class="mobile-margin-bottom">Illustrated are 3 common configurations of the many that can be achieved.</p>

                <!--Hide on mobiles to change the content order-->
                <div class="brown-block row hidden-xs">
                    <h1 class="yellow-underline">WHY NOW?</h1>
                    <p>In January 2016, Land Rover ceased production of their iconic workhorse, the Defender. After 67 years of continuous production, the vehicle that many industries, and emergency services around the world depended on was withdrawn without a suitable replacement available.</p>
                    <p class="margin-bottom">Currently, Land Rover don’t plan to replace the defender until 2019 at the earliest. None of the mainstream manufacturers have a vehicle that is capable or engineered to take on these mission critical roles.</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-responsive white-border margin-bottom" src="img/overview-land-rover-police.jpg" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img class="img-responsive white-border margin-bottom" src="img/overview-land-rover-ambulance.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">

                <div class="col-xs-12 margin-bottom no-padding">
                    <div class="yellow-border">
                        <img class="img-responsive" src="img/overview-configurations-mining-bus.png" alt="">
                        <div class="img-caption">Mining Bus</div>
                    </div>
                </div>

                <div class="col-xs-12 margin-bottom no-padding">
                    <div class="yellow-border">
                        <img class="img-responsive" src="img/overview-configurations-light-recovery.png" alt="">
                        <div class="img-caption">Light Recovery</div>
                    </div>
                </div>

                <div class="col-xs-12 margin-bottom no-padding">
                    <div class="yellow-border">
                        <img class="img-responsive" src="img/overview-configurations-fire-truck.png" alt="">
                        <div class="img-caption">Fire Truck</div>
                    </div>
                </div>
            </div>

            <div class="clearfix">
                
            </div>

            <!--Show duplicate (see above) on mobiles to change the content order-->
            <div class="col-sm-6 visible-xs">
                <div class="brown-block row">
                    <h1 class="yellow-underline">WHY NOW?</h1>
                    <p>In January 2016, Land Rover ceased production of their iconic workhorse, the Defender. After 67 years of continuous production, the vehicle that many industries, and emergency services around the world depended on was withdrawn without a suitable replacement available.</p>
                    <p class=" margin-bottom">Currently, Land Rover don’t plan to replace the defender until 2019 at the earliest. None of the mainstream manufacturers have a vehicle that is capable or engineered to take on these mission critical roles.</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-responsive white-border margin-bottom" src="img/overview-land-rover-police.jpg" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img class="img-responsive white-border margin-bottom" src="img/overview-land-rover-ambulance.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>       
        </div>
    </div>

    
    <div id="durability" class="container-green">
        <div class="container section">
            
            <div class="col-sm-12">   
                <h1 class="yellow-underline">WHO IS THE ATLAS<br />ENDEAVOUR AIMED AT?</h1>  
            </div>           
            <div class="col-sm-6">                
                <p class="lead">The Endeavour is targeted at those users who depend on their vehicle, even in the harshest conditions in the world. </p>
                <p>It was initially developed for the expedition/extreme utility market and the vehicle prototype has been extensively developed and tested in some of the harshest environments and terrains on the planet.</p>
                <p>It has been tested for prolonged periods in an off-road environment including a repeated series of extreme off-road manoeuvres to determine stress points and limitations.</p>
                <ul>
                    <li>All vehicles are built to VSAG15 standards</li>
                    <li>Wheels are SAE tested and TUV approved if required</li>
                    <li>Run-flats meet FINABEL A20A and 20A5 standard/principals</li>
                </ul>
                <p>The Atlas Endeavour will become synonymous within the automotive industry for mission critical reliability. Atlas anticipate that the Endeavour will play a key role in these important utility categories:</p>
                <ul class="mobile-margin-bottom">
                    <li>Tactical Response</li>
                    <li>Public Order</li>
                    <li>Aviation Roles</li>
                    <li>Fire Fighting</li>
                    <li>Ambulance &amp; Rescue Services</li>
                    <li>Mining &amp; Agricultural</li>
                    <li>Extreme Utility</li>
                    <li>Expedition &amp; Exploration</li>
                </ul>
            </div>
            
            <div class="col-sm-6">                
                <div class="row">
                    <div class="col-md-6 margin-bottom">
                        <div class="yellow-border">
                            <img class="img-responsive" src="img/overview-unfit-vehicle-compromised-1.jpg" alt="">
                            <div class="img-caption">Compromised engineering</div>
                        </div>
                    </div>
                    <div class="col-md-6 margin-bottom">
                        <div class="yellow-border">
                            <img class="img-responsive" src="img/overview-unfit-vehicle-lifespan-1.jpg" alt="">
                            <div class="img-caption">Short lifespan</div>
                        </div>
                    </div>
                    <div class="col-md-6 margin-bottom">
                        <div class="yellow-border">
                            <img class="img-responsive" src="img/overview-unfit-vehicle-large-1.jpg" alt="">
                            <div class="img-caption">Too heavy</div>
                        </div>
                    </div>
                    <div class="col-md-6 margin-bottom">
                        <div class="yellow-border">
                            <img class="img-responsive" src="img/overview-unfit-vehicle-large-2.jpg" alt="">
                            <div class="img-caption">Too large</div>
                        </div>
                    </div>
                    <div class="col-md-6 margin-bottom">
                        <div class="yellow-border">
                            <img class="img-responsive" src="img/overview-unfit-vehicle-large-3.jpg" alt="">
                            <div class="img-caption">Too large</div>
                        </div>
                    </div>
                    <div class="col-md-6 margin-bottom">
                        <div class="yellow-border">
                            <img class="img-responsive" src="img/overview-unfit-vehicle-inflexible-1.jpg" alt="">
                            <div class="img-caption">Inflexible design</div>
                        </div>
                    </div>
                    <div class="col-md-6 margin-bottom">
                        <div class="yellow-border">
                            <img class="img-responsive" src="img/overview-unfit-vehicle-purpose-2.jpg" alt="">
                            <div class="img-caption">Unfit for purpose</div>
                        </div>
                    </div>
                    <div class="col-md-6 margin-bottom">
                        <div class="yellow-border">
                            <img class="img-responsive" src="img/overview-unfit-vehicle-purpose-3.jpg" alt="">
                            <div class="img-caption">Unfit for purpose</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div id="support" class="container-white">
        <div class="container section">

            <div class="col-xs-12">
                <h1 class="yellow-underline">SUPPORTED BY THE <br />INDUSTRY LEADERS</h1>
            </div>

            <div class="col-sm-6">
                <p class="lead">The unique multi-role design of the Atlas Endeavour isn’t the only thing that makes it stand out from the competition. The universal support of the Worlds Leading defence and technology manufacturers gives the Atlas Endeavour an unbeatable advantage.</p>
                <p>The mission statement of Hutchinson Defence is <em>“To provide engineered mobility solutions for all wheeled combat and off-road vehicles.”</em></p>
                <p>Hutchinson Defence, a subsidiary of Total, are able to draw on diverse research and chemical resources of one of the world’s largest petroleum and chemical manufacturers.</p>
                <p>Hutchinson Defence will be providing exclusive, full access to their state-of-the-art Vehicle Light Protection Kit VLPK.</p>
                <p>The vehicle is fitted with Hutchinson Hammerglass to ensure the highest possible standards of crew safety. It is heat resistant up to 650°C, is resistant to most chemicals and is available in ballistic protection classes from B4 (23mm) up to B6 (36mm). It removes the need for protective grids, thereby increasing crew visibility and vehicle manoeuvrability.</p>
            </div>

            <div class="col-sm-6">
                <p>The Hutchinson Defence Run-Flat Wheel System, which meets FINABEL A20A and 20A5 standards, ensures the mobility of the vehicle and the safety of the crew. It is approved for use at high speed (up to 50km/h) as well as on heavy load vehicles.</p>
                <p>The body of the Atlas Endeavour can be integrated with a highly ballistically resistant composite material. This is non-combustible and is designed to provide ballistic protection against hand grenades and handgun fires up to 7.62 x 39mm.</p>
                <p>The vehicle coating is a specialist Hutchinson Defence Polyurethane PU product. It can be applied in almost any colour and makes the vehicle non-combustible. It also works to isolate the crew compartment against extreme heat.</p>
                <p>Hutchinson Defence Safe Tank technology, which ensures fuel tanks don’t leak or catch fire under any circumstance can be specified when required.</p>
                <img class="img-responsive" src="img/hutchinson-logo.png">
            </div>
    
        </div>

        <hr>

        <div class="container section-thin">
            <div class="col-xs-12">
                <h1 class="yellow-underline">CUMMINS ENGINE</h1>
            </div>
            
            <div class="col-sm-6">
                <p>Cummins Engines will supply the Diesel Engine. Over 80% of the worlds buses use Cummins engines which are famous for their durability and efficiency. The fact that these engines are manufactured in England ensures a seamless integration of all the latest Cummins technology.</p>
                <p class="mobile-margin-bottom">The 4 cylinder ISB4.5 engine is suitable for trucks up to 18 tonnes and buses up to 12m.  It has become one of the most widely used engines for low-carbon diesel electric hybrid buses across the UK and Europe.  It is available up to 210ps for trucks and buses, with a strong peak torque of 760Nm.</p>
            </div>

            <div class="col-sm-6 mobile-margin-bottom">
                <img class="img-responsive" src="img/durability-cummins-isb45-engine.jpg">
            </div>
        </div>
        <hr>
        <div class="container section-thin">
            <div class="clearfix"></div>
            <div class="col-sm-6 hidden-xs">
                <img class="img-responsive" src="img/durability-zf-gearbox.jpg">
            </div>
            <div class="col-sm-6">
                <h1 class="yellow-underline">ZF Gearbox</h1>
                <p class="mobile-margin-bottom">ZF Gearboxes were the perfect partner for the Atlas Endeavour. Their strength and reliability are legendary and with a worldwide support network, they provide all the support that could possibly be needed.</p>
            </div>
            <div class="col-sm-6 visible-xs">
                <img class="img-responsive" src="img/durability-zf-gearbox.jpg">
            </div>
        </div>
        <hr>
        <div class="container section-thin">            
            <div class="col-sm-6">
                <h1 class="yellow-underline">CHEMLINE COMPOSITE<br>BODY PANELS</h1>
                <p class="mobile-margin-bottom">Chemline provide the technology and material that enable the Poly-Urea composite body panels to be manufactured. Backed by their research and development team in the USA, Chemline have been instrumental developing a unique panel construction system that allows for vehicle role variation without compromise.</p> 
            </div>

            <div class="col-sm-6 mobile-margin-bottom">
                <img class="img-responsive" src="img/durability-chemline-panels.jpg">
            </div>
        </div>
        <hr>
        <div class="container section-thin section-thin-end">
            <div class="col-sm-6 col-sm-push-6">
                <h1 class="yellow-underline">JW Speaker LED Lighting</h1>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6 hidden-xs">
                <img class="img-responsive" src="img/durability-jw-speaker-logo.png">
            </div>
            <div class="col-sm-6">
                <p class="mobile-margin-bottom">JW Speaker are without doubt the leaders in LED OEM vehicle lighting systems. Based in the USA their bespoke LED technology is combined with incredible lens and reflector combinations to provide a lighting system that is not only efficient and durable but provides 25% more light output than it’s nearest competitor.</p>
            </div>
            <div class="col-sm-6 visible-xs">
                <img class="img-responsive" src="img/durability-jw-speaker-logo.png">
            </div>
        </div>

    </div>
        
    <div id="british" class="container-green">

        <img class="img-responsive" width="100%" src="img/atlas-main-building.jpg">

        <div class="container section">            
            <div class="col-sm-6">           
                <h1 class="yellow-underline">A BRITISH BRAND<br />WITH SUBSTANCE</h1>     
                <p class="lead">Located in the centre of the vehicle manufacturing industry in the heart of England, Atlas Vehicles has created a brand with history and credibility.</p>
                <p>The Atlas brand points to the freedom to explore the world that this unique vehicle makes possible. The logo points to the 4 corners of globe while solid typeface gives confidence and stature to the brand.</p>
                <p class="margin-bottom">There’s even detail in the background. The topographical lines in the background remind us of the contour lines that define the rugged terrain that the Atlas Endeavour was designed to conquer.</p>                
            </div>        
            <div class="col-sm-6">
                <h1 class="yellow-underline">MADE IN THE<br />HEART OF ENGLAND</h1>
                <p>The UK has an enviable heritage in vehicle manufacturing and innovation. In 2015, the UK produced more vehicles than in any other year in its long history. The high tech vehicle industry is alive and well in the UK!</p>
                <p>Located in the heart of the UK’s vehicle manufacturing industry, with Jaguar Land Rover on its doorstep, Atlas Vehicles is surrounded by a network of specialist component manufacturers. This allows for a lean manufacturing process to be adopted that will keep costs low and quality high.</p>
                <p>Immediate access to key trunk roads and Motorways means that efficient logistics are never a problem. All main exporting docks are within 2 hours drive which puts the world at our fingertips.</p>               
            </div>    

            <div class="col-sm-12">
                <h1 class="yellow-underline">STATE-OF-THE-ART FACILITY</h1>     
                <p class="margin-bottom">The 4,000sqm facility will be the World HQ for Atlas Vehicles and like the Endeavour, it will be a unique construction. The building will be partly underground to maximize thermal efficiency and to minimize impact on the environment.</p>   

                <div class="row">
                    <div class="col-sm-6">        
                        <img class="img-responsive margin-bottom yellow-border" src="img/atlas-facility-5.jpg">         
                    </div>     
                    <div class="col-sm-6">                     
                        <img class="img-responsive margin-bottom yellow-border" src="img/atlas-facility-3.jpg">         
                    </div>     
                    <div class="col-sm-6">                    
                        <img class="img-responsive margin-bottom yellow-border" src="img/atlas-facility-4.jpg">         
                    </div>  
                    <div class="col-sm-6">                    
                        <img class="img-responsive margin-bottom yellow-border" src="img/atlas-facility-2.jpg">         
                    </div>  
                </div>    
            </div>        

        </div>
    </div>
    
    <!-- Swiper JS -->
    <script src="js/swiper.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var galleryTop = new Swiper('.gallery-top', {
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            spaceBetween: 10,
            autoplay: 4000,
            autoplayDisableOnInteraction: false,
            speed: 800
        });
        var galleryThumbs = new Swiper('.gallery-thumbs', {
            spaceBetween: 10,
            centeredSlides: true,
            slidesPerView: 'auto',
            touchRatio: 0.2,
            slideToClickedSlide: true
        });
        galleryTop.params.control = galleryThumbs;
        galleryThumbs.params.control = galleryTop;
    </script>   


    <%- include ../template/footer %> 

</body>
</html>
