<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UK custom-built multi-role utility vehicle for emergency services, tactical response, public order and recreation">
    <meta name="author" content="Lewis Booth - CIC Photographic Ltd. - www.ciconline.co.uk">
    <meta name="keywords" content="atlas, mruv, mruv-x4.5, custom vehicles, military vehicles, utility vehicles, law enforcement vehicles, tactical response vehicles, public order vehicles, modular vehicles, uk vehicle manufacturing">
    
    <title>Atlas MRUV-X4.5 | Overview</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/atlas.css">
    <link href="https://fonts.googleapis.com/css?family=Abel|Orbitron:400,700|Teko:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="atlas-favicon-300.png">
</head>

<body>

   <%- include ../template/nav %> 

    <div class="section overview-header row">
        <div class="col-xs-12">
            <div class="text-center">
                <h1 class="yellow-underline text-center">INTRODUCING</h1>
                <h2 class="bold-text">THE ATLAS<br />
                    <span class="h2-large">
                    ENDEAVOUR
                    </span>
                </h2>
            </div>
        </div>
    </div>    

    <img class="img-responsive" width="100%" src="overview-cover-mining.jpg">
    
    <div class="container-white">
        <div class="container section">
            <div class="col-sm-6">
                <p>Our first vehicle, the Atlas Endeavour defines a brand new vehicle category, the Multi Role Utility Vehicle or MRUV.</p>
                <p>Designed from the ground up as a modular vehicle that can be adapted to exactly meet the most demanding roles in industry, travel, the emergency services and law enforcement agencies.</p>
                <p class="mobile-margin-bottom">A single vehicle that can take on numerous roles. One day it’s transport of 12 people in the safety of forward facing seats, the next day it’s delivering fuel around the site and the next day it’s a utility pick up.</p>
            </div>
            <div class="col-sm-6">
                <h4>
                    One vehicle,<br />
                    many configurations,<br />
                    many roles.<br />
                </h4>
            </div>
        </div>

        <div class="container section-thin">
            
            <div class="col-sm-6">
                <h1 class="yellow-underline">WHAT MAKES THE <br />ENDEAVOUR UNIQUE?</h1>
                <p class="lead">In a world that has come to accept the compromises that 
                an adapted “off the shelf” vehicle brings, the Atlas Endeavour brings a refreshing change.</p>
                <p>The Atlas Endeavour platform is designed on an adaptive, transposable platform, which can be tailored for GVW’s of 3500kg – 7500kg. It can be configured in either 4x2, 6x2, 4x4 or 6x6 variants, dependent upon role requirements.</p>
                <p>The multi-function load platform allows for 4-12 forward facing seats. The modular design allows for variants to be individually tailored to client needs with generic or specific roles in mind.</p>
                <p class="mobile-margin-bottom">Illustrated are 3 common configurations of the many that can be achieved.</p>

                <!--Hide on mobiles to change the content order-->
                <div class="brown-block row hidden-xs">
                    <h1 class="yellow-underline">WHY NOW?</h1>
                    <p>In January 2016, Land Rover ceased production of their iconic workhorse, the Defender. After 67 years of continuous production, the vehicle that many industries, and emergency services around the world depended on was withdrawn without a suitable replacement available.</p>
                    <p class="margin-bottom">Currently, Land Rover don’t plan to replace the defender until 2019 at the earliest. None of the mainstream manufacturers have a vehicle that is capable or engineered to take on these mission critical roles.</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-responsive white-border margin-bottom" src="overview-land-rover-police.jpg" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img class="img-responsive white-border margin-bottom" src="overview-land-rover-ambulance.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <img class="img-responsive yellow-border margin-bottom" src="overview-configurations-mining-bus.png" alt="">
                <img class="img-responsive yellow-border margin-bottom" src="overview-configurations-light-recovery.png" alt="">
                <img class="img-responsive yellow-border margin-bottom" src="overview-configurations-fire-truck.png" alt="">
            </div>

            <!--Show duplicate (see above) on mobiles to change the content order-->
            <div class="col-sm-6 visible-xs">
                <div class="brown-block row">
                    <h1 class="yellow-underline">WHY NOW?</h1>
                    <p>In January 2016, Land Rover ceased production of their iconic workhorse, the Defender. After 67 years of continuous production, the vehicle that many industries, and emergency services around the world depended on was withdrawn without a suitable replacement available.</p>
                    <p class=" margin-bottom">Currently, Land Rover don’t plan to replace the defender until 2019 at the earliest. None of the mainstream manufacturers have a vehicle that is capable or engineered to take on these mission critical roles.</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-responsive white-border margin-bottom" src="overview-land-rover-police.jpg" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img class="img-responsive white-border margin-bottom" src="overview-land-rover-ambulance.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>       
        </div>
    </div>

    
    <div class="container-green">
        <div class="container section">
            
            <div class="col-sm-6">                
                <h1 class="yellow-underline">WHO IS THE ATLAS<br />ENDEAVOUR AIMED AT?</h1>
                <p class="lead">The Endeavour is targeted at those users who depend on their vehicle, even in the harshest conditions in the world. </p>
                <p>It was initially developed for the expedition/extreme utility market and the vehicle prototype has been extensively developed and tested in some of the harshest environments and terrains on the planet.</p>
                <p>It has been tested for prolonged periods in an off-road environment including a repeated series of extreme off-road manoeuvres to determine stress points and limitations.</p>
                <ul>
                    <li>All vehicles are built to VSAG15 standards</li>
                    <li>Wheels are SAE tested and TUV approved if required</li>
                    <li>Run-flats meet FINABEL A20A and 20A5 standard/principals</li>
                </ul>
                <p>The Atlas Endeavour will become a synonymous within the automotive industry for mission critical reliability. Atlas anticipate that the Endeavour will play a key role in these important utility categories:</p>
                <ul class="mobile-margin-bottom">
                    <li>Tactical Response</li>
                    <li>Public Order</li>
                    <li>Aviation Roles</li>
                    <li>Fire Fighting</li>
                    <li>Ambulance &amp; Rescue Services</li>
                    <li>Mining &amp; Agricultural</li>
                    <li>Extreme Utility</li>
                    <li>Expedition &amp; Exploration</li>
                </ul>
            </div>
            
            <div class="col-sm-6">                
                <div class="row">
                    <div class="col-md-6 margin-bottom">
                        <div class="yellow-border">
                            <img class="img-responsive" src="overview-unfit-vehicle-compromised-1.jpg" alt="">
                            <div class="img-caption">Compromised engineering</div>
                        </div>
                    </div>
                    <div class="col-md-6 margin-bottom">
                        <div class="yellow-border">
                            <img class="img-responsive" src="overview-unfit-vehicle-lifespan-1.jpg" alt="">
                            <div class="img-caption">Short lifespan</div>
                        </div>
                    </div>
                    <div class="col-md-6 margin-bottom">
                        <div class="yellow-border">
                            <img class="img-responsive" src="overview-unfit-vehicle-large-1.jpg" alt="">
                            <div class="img-caption">Too heavy</div>
                        </div>
                    </div>
                    <div class="col-md-6 margin-bottom">
                        <div class="yellow-border">
                            <img class="img-responsive" src="overview-unfit-vehicle-large-2.jpg" alt="">
                            <div class="img-caption">Too large</div>
                        </div>
                    </div>
                    <div class="col-md-6 margin-bottom">
                        <div class="yellow-border">
                            <img class="img-responsive" src="overview-unfit-vehicle-large-3.jpg" alt="">
                            <div class="img-caption">Too large</div>
                        </div>
                    </div>
                    <div class="col-md-6 margin-bottom">
                        <div class="yellow-border">
                            <img class="img-responsive" src="overview-unfit-vehicle-inflexible-1.jpg" alt="">
                            <div class="img-caption">Inflexible design</div>
                        </div>
                    </div>
                    <div class="col-md-6 margin-bottom">
                        <div class="yellow-border">
                            <img class="img-responsive" src="overview-unfit-vehicle-purpose-2.jpg" alt="">
                            <div class="img-caption">Unfit for purpose</div>
                        </div>
                    </div>
                    <div class="col-md-6 margin-bottom">
                        <div class="yellow-border">
                            <img class="img-responsive" src="overview-unfit-vehicle-purpose-3.jpg" alt="">
                            <div class="img-caption">Unfit for purpose</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="container-white">
        <div class="container section">

            <div class="col-xs-12">
                <h1 class="yellow-underline">SUPPORTED BY THE <br />INDUSTRY LEADERS</h1>
            </div>

            <div class="col-sm-6">
                <p class="lead">The unique multi-role design of the Atlas Endeavour isn’t the only thing that makes it stand out from the competition. The universal support of the Worlds Leading defence and technology manufacturers gives the Atlas Endeavour a unbeatable advantage.</p>
                <p>The mission statement of Hutchinson Defence is <em>“To provide engineered mobility solutions for all wheeled combat and off-road vehicles.”</em></p>
                <p>Hutchinson Defence, a subsidiary of Total, are able to draw on diverse research and chemical resources of one of the world’s largest petroleum and chemical manufacturers.</p>
                <p>Hutchinson Defence will be providing exclusive, full access to their state-of-the-art Vehicle Light Protection Kit VLPK.</p>
                <p>The vehicle is fitted with Hutchinson Hammerglass to ensure the highest possible standards of crew safety. It is heat resistant up to 650°c, is resistant to most chemicals and is available in ballistic protection classes from B4 (23mm) up to B6 (36mm). It removes the need for protective grids, thereby increasing crew visibility and vehicle manoeuvrability.</p>
            </div>

            <div class="col-sm-6">
                <p>The Hutchinson Defence Run-Flat Wheel System, which meets FINABEL A20A and 20A5 standards, ensures the mobility of the vehicle and the safety of the crew. It is approved for use at high speed (up to 50km/h) as well as on heavy load vehicles.</p>
                <p>The body of the Atlas Endeavour can be integrated with a highly ballistically resistant composite material. This is non-combustible and is designed to provide ballistic protection against hand grenades and handgun fires up to 7.62 x 39mm.</p>
                <p>The vehicle coating is a specialist Hutchinson Defence Polyurethane PU product. It can be applied in almost any colour and makes the vehicle non-combustible. It also works to isolate the crew compartment against extreme heat.</p>
                <p>Hutchinson Defence Safe Tank technology, which ensures fuel tanks don’t leak or catch fire under any circumstance can be specified when required.</p>
                <img class="img-responsive" src="hutchinson-logo.png">
            </div>
    
        </div>
    </div>
    
    <%- include ../template/footer %> 

</body>
</html>
